.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
    grid-area: header;
    height: 6.25rem;
    width: 100%;
    background-color: #01203a;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    position: fixed;
    padding-left: 11rem;
    padding-right: 5rem;
}


.contentRight {
    padding-left: 10rem;
    flex-basis: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    position: relative;
}

.textHeader {
    margin-top: 5.125rem;
    display: inline;
    gap: normal;
    line-height: 63px;
    font-family: FuturaLTW01, sans-serif;
    width: 37.063rem;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-shadow: 0 0 transparent;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    font-size: 44px;
    color: #fff;
    transition: all 0.15s ease 0s;
    font-weight: bold;
}


.spanTextHeader {
    width: 33.563rem;
    padding-top: 2.438rem;
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    display: inline;
    font-size: 1.125rem;
    font-family: "Futura LT Light", sans-serif;
    gap: normal;
    line-height: 2.088rem;
    text-align: left;
    font-weight: 100;
}

.subContentTextFirstSpan {
    border-color: hsl(207, 97%, 12%);
    color: hsl(207, 97%, 12%);
    display: inline;
    font-size: 2.5rem;
    font-family: "Futura LT Book", sans-serif;
    gap: normal;
    text-align: center;
    font-weight: 700;
    width: 38.5rem;
    padding-bottom: 7px;
}

.subContentTextSecondSpan {
    border-color: hsl(207, 97%, 12%);
    color: hsl(207, 97%, 12%);
    display: inline;
    font-size: 1.25rem;
    gap: normal;
    font-family: "Futura LT Light", sans-serif;
    line-height: 2.088rem;
    text-align: center;
    width: 34.875rem;
}

.form {
    display: flex;
}

.form > input {
    background-color: hsla(284, 59%, 59%, 0.1);
    border-color: hsla(284, 59%, 59%, 0);
    border-width: 0 0 2px;
    color: hsl(264, 83%, 52%);
    display: inline-block;
    font-family: Arial, Helvetica, serif;
    font-size: 14px;
    font-weight: 700;
    gap: normal;
    line-height: 0.196rem;
    padding: 3px 3px 3px 24px;
    text-align: left;
    height: 3.125rem;
    width: 27.375rem;
}

.form > input::placeholder {
    color: hsl(264, 83%, 52%);

}

.containerBottomDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 6.25rem;
    font-family: FuturaLTW01, sans-serif;
}

.StylableButtonContainer {
    width: 623px;
    display: flex;
}

.StylableButtonContainer span:hover {
    background-color: #d0b5f8;
    cursor: pointer;
}

.StylableButtonContainer span:last-child {
    margin-left: 7px;
    padding: 10px 10px 10px 6px;
}

.StylableButtonContainer span:first-child {
    padding: 10px 10px 10px 6px;
}

.StylableButtonLabel {
    transition: all 0.2s ease, visibility 0s;
    background: #4a0fa3;
    padding: 0.500rem;
    font-weight: 100;
    font-size: 0.825rem;
    letter-spacing: 0.094rem;
}

div.content > div:nth-child(1) > div > div.StylableButtonContainer > span {
    display: flex;
    width: 10.563rem;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 0.938rem;
}

.StylableButtonIcon > .StylableButtonIcon {

}

.containerForm {
    padding-top: 4.75rem;
}

.form > button {
    align-items: center;
    background-color: hsl(264, 83%, 52%);
    border-color: hsl(0, 0%, 100%);
    display: flex;
    font-family: Arial, serif;
    font-size: 0.833rem;
    gap: normal;
    justify-content: center;
    width: 11.25rem;
    color: white;
}

.containerImage {
    position: relative;
}

.content {
    grid-area: content;
    height: 56.125rem;
    width: 100%;
    background-color: #01203a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    grid-area: footer;
    height: 2.688rem;
    background-color: #01203a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTextHeader {
    margin-top: 5.938rem;
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    display: inline;
    font-size: 20px;
    font-family: "Futura LT Light", serif;
    gap: normal;
    line-height: 33.4px;
    text-align: left;
    width: 35rem;
}

.subContent {
    height: 36.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContentText {
    display: flex;
    flex-direction: column;
}
.gridContainer{}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */


    .header {
        grid-area: header;
        height: 6.25rem;
        width: 100%;
        background-color: #01203a;
        display: flex;
        align-items: center;
        color: white;
        position: fixed;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .gridContainer {
        width: 100%;
        display: inline-table;
    }

    .content {
        grid-area: content;
        height: 56.125rem;
        background-color: #01203a;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
    }

    .contentRight {
        padding-left: 3rem;
        flex-basis: 52rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@font-face {
    font-family: "FuturaLTW01-LightOblique";
    src: url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.eot");
    src: url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.woff") format("woff"), url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.svg#FuturaLTW01-LightOblique") format("svg");
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Regular'), url('/assets/fonts/FuturaLT.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('/assets/fonts/FuturaLT-Book.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Oblique'), url('/assets/fonts/FuturaLT-Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT BookOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BookOblique'), url('/assets/fonts/FuturaLT-BookOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Light'), url('/assets/fonts/FuturaLT-Light.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedLight';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLight'), url('/assets/fonts/FuturaLT-CondensedLight.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT LightOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT LightOblique'), url('/assets/fonts/FuturaLT-LightOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedLightObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedLightObl'), url('/assets/fonts/FuturaLT-CondensedLightObl.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Condensed'), url('/assets/fonts/FuturaLT-Condensed.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedOblique'), url('/assets/fonts/FuturaLT-CondensedOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBold'), url('/assets/fonts/FuturaLT-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Bold'), url('/assets/fonts/FuturaLT-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBold'), url('/assets/fonts/FuturaLT-CondensedBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedExtraBold'), url('/assets/fonts/FuturaLT-CondensedExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT ExtraBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT ExtraBoldOblique'), url('/assets/fonts/FuturaLT-ExtraBoldOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT BoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT BoldOblique'), url('/assets/fonts/FuturaLT-BoldOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondExtraBoldObl';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondExtraBoldObl'), url('/assets/fonts/FuturaLT-CondExtraBoldObl.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT CondensedBoldOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT CondensedBoldOblique'), url('/assets/fonts/FuturaLT-CondensedBoldOblique.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Heavy'), url('/assets/fonts/FuturaLT-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Futura LT HeavyOblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT HeavyOblique'), url('/assets/fonts/FuturaLT-HeavyOblique.woff') format('woff');
}